//
   Created by fechow on 7/16/16.

header(class=styles.header)
  h1
    a(href='#/') React Stylus Webpack boilerplate
  h2 A starter kit for creating applications using react and stylus
  a(class=styles.stylusLogo href='https://learnboost.github.io/stylus/')
  a(class=styles.reactLogo href='https://facebook.github.io/react/')


<td align="left">
<div style={{"border: solid 2px #d8e1f2; margin:10px 0 5px;"}} onmouseover={this._onMouseOver()}" onmouseout={this._onMouseOut()}>
<div style={{height: 33px,background-color:#D8E1F2, line-height:33px;}}>
<div style="width:400px; float: left; padding-left:8px;">
<a id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_hlViewQ" title="test234234" class="link-444" href="/jq/9054114.aspx" target="_blank" style="text-decoration: underline; font-size:14px;">test234234</a>|<span id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_lblId" style="color:#444444;">ID:9054114</span>

</div>
<div style="float: left;">
&nbsp;&nbsp;<span id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_lblStatus" title="必须发布后，问卷才能被填写" style="color:#666666;font-weight:bold;">草稿</span>
&nbsp;<span style="color: #454545;">答卷：</span><a id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_hlJoinTimes" class="link-444" href="javascript:void(0);" style="font-weight:bold;">0</a>&nbsp;<a href="javascript:void(0);" id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_hrefNotify" class="titlelnk" onclick="PDF_launch(&quot;/wjx/notify/notify.aspx?activityid=9054114&quot;,700,420);">答卷提醒</a>&nbsp;&nbsp;<span id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_lbUser" title="创建于2016/7/13 22:42:16" style="color:#666666;">7-13 22:42</span></div>
  <div class="divclear">
  </div>
</div>
<div style="height: 38px;padding-top:6px;">
<ul id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_ulQu" style="float:left;width:400px; margin-left:0px; padding-left:5px;">
<li><a class="view" title="设计问卷" onmouseout="sb_setmenusub('divDesignQ', false, this)" editversion="0" onmouseover="sb_setmenusub('divDesignQ', true, this)" value="9054114" href="/wjx/design/designstart.aspx?activity=9054114">
<span class="spanLeftTxt">设计问卷</span><span class="bordCss bordBottomCssN"></span></a>
</li>

<li><a style="background-position: 8px 6px" href="/wjx/promote/sendqstart.aspx?activityid=9054114" class="invite" onmouseout="sb_setmenusub('divSend', false, this)" onmouseover="sb_setmenusub('divSend', true, this)" value="9054114" canapply="1" qt="1">
<span class="spanLeftTxt">回收答卷</span><span class="bordCss bordBottomCssN"></span></a>
</li>
<li><a href="/report/9054114.aspx" id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_hrefReport" class="report" title="答卷统计分析" onmouseout="sb_setmenusub('divAnalyze', false, this)" onmouseover="sb_setmenusub('divAnalyze', true, this)" style="height: 22px; width: 69px;" value="9054114">
<span class="spanLeftTxt">分析&amp;下载</span><span class="bordCss bordBottomCssN"></span></a>
</li>

</ul>

<ul style="float:left;">
<li>

</li>
<li>
<a id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_btnChangeStatus" title="此问卷状态是草稿，点击发布问卷" class="run link-444" href="javascript:__doPostBack('ctl01$ContentPlaceHolder1$grvwActivity$ctl02$btnChangeStatus','')">发布</a>
</li>
<li>
<a id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_btnCopy" class="copy" href="javascript:__doPostBack('ctl01$ContentPlaceHolder1$grvwActivity$ctl02$btnCopy','')">复制</a>
</li>
<li>
<a onclick="return window.confirm('您确认要删除此问卷吗？');" id="ctl01_ContentPlaceHolder1_grvwActivity_ctl02_btnDelete" title="删除此问卷。" class="delete" href="javascript:__doPostBack('ctl01$ContentPlaceHolder1$grvwActivity$ctl02$btnDelete','')">删除</a>
</li>
<li>
</li>
</ul>
<div class="divclear"></div>
</div>
</div>
</td>